# Ignorar archivos de caché
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar entornos virtuales
.venv/
venv/
ENV/

.vscode/

# Ignorar archivos PDF
*.pdf
*.xlsx
*.xls

# Otros archivos y carpetas comunes a ignorar
.DS_Store
Thumbs.db
